DATA_SOURCE=data
DISTRIBUTORS_FILE=distributors.txt
REDIS_HOST=localhost
REDIS_PORT=6379
RMI_PORT=1099
BINDING_NAME=DistributorRegister
FACTORY_USERS=factory_users.json
USERS=users.json
MULTICAST_ADDRESS=224.0.0.15
MULTICAST_PORT=9009
KEY_STORE_PATH=keystore.jks
KEY_STORE_PASSWORD=securemdp
SECURE_PORT=8443